.comment-wrapper {
  margin: 0 0.5rem;
  padding: 0 1rem 0 2rem;
  margin-bottom: 0.3rem;
  transition: 0.3s all ease;
}

.comment-wrapper .RTE .quill .ql-container {
  background-color: #f8f9fa;
}

.comment-wrapper:first-child {
  margin-top: 0.5rem !important;
}

.comment-wrapper.solution {
  background-color: #f2fff5;
  border-radius: 8px;
  border: 1px solid #05b851;
}

.comment-wrapper.solution .RTE .quill {
  background-color: white;
  border: 1px solid #05b8503d;
}

@media only screen and (max-width: 30em) {
  .comment-wrapper {
    margin: 0 0;
    padding: 0 1rem 0 2rem;
    margin-bottom: 0.3rem;
    transition: 0.3s all ease;
  }

  .comment-wrapper:first-child {
    margin-top: 0 !important;
  }

  .comment-wrapper.solution {
    background-color: #f2fff5;
    border-radius: 0px;
    border: none;
    border-top: 1px solid #05b851;
    border-bottom: 1px solid #05b851;
  }
}

.comment-wrapper .content-wrapper {
  border-left: 1px solid #cfd9de;

  padding: 0.75rem 0 0 1rem;

  position: relative;
}

.comment-wrapper .content-wrapper .offset {
  /* All content goes here */
  margin-left: 1rem;
  font-size: 0.875rem !important;
}

.comment-wrapper .content-wrapper .offset .children {
  /* margin-top: 1.4rem; */
}

.comment-wrapper .content-wrapper .offset > * {
  font-size: 0.875rem !important;
}

.comment-wrapper .content-wrapper .profile-img {
  position: absolute;
  top: 0;
  left: -1.3rem;
  background-color: white;
  padding: 0.75rem 0;
  border-radius: 100px;
}

/* For solution */
.comment-wrapper.solution .content-wrapper .profile-img {
  background-color: #f2fff5;
}

.comment-wrapper .content-wrapper .profile-img > img {
  top: 0.5rem;
  left: -1.3rem;

  height: 40px;
  width: 40px;
  object-fit: cover;

  border-radius: 100px;
  border: 1px solid #cfd9de;
}

.comment-wrapper .content-wrapper .user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.comment-wrapper .content-wrapper .user .author,
.author {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
}

.comment-wrapper .content-wrapper .user > p {
  margin: 0 0.4rem 0 0;
  font-size: 0.75rem !important;
}

.comment-wrapper .content-wrapper .user > p.username,
.comment-wrapper .content-wrapper .user > p.time {
  color: #6c757d;
}

@media only screen and (max-width: 30em) {
  .comment-wrapper .content-wrapper .user .author,
  .author,
  .shorten {
    max-width: 6rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .comment-wrapper .content-wrapper .user .time {
    max-width: 3rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 2rem;
  }
}

.comment-wrapper .content-wrapper .content {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #333b47;
}
.comment-wrapper .content-wrapper .action-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.8rem;
}

.comment-wrapper .content-wrapper .action-bar .left {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  min-width: 8rem;
  max-width: 14rem;
}

.comment-wrapper .content-wrapper .action-bar > * {
  font-size: 0.75rem !important;
  font-weight: 500;
  line-height: 150%;
}

.comment-wrapper .content-wrapper .action-bar .show-replies {
  font-weight: 500;
  line-height: 19px;
  color: #2c974b;
  cursor: pointer;

  display: flex;
  align-items: center;
}

.comment-wrapper .content-wrapper .action-bar .show-replies > span {
  display: flex;
  align-items: center;
}

.comment-wrapper .content-wrapper .action-bar .show-replies > span.mobile {
  font-weight: bold;
  display: none;
}

@media only screen and (max-width: 30em) {
  .comment-wrapper .content-wrapper .action-bar .show-replies > span {
    display: none;
  }

  .comment-wrapper .content-wrapper .action-bar .show-replies > span.mobile {
    display: flex;
    align-items: center;
  }
}

.comment-wrapper .content-wrapper .action-bar .show-replies img {
  height: 20px;
  width: 20px;
  object-fit: contain;

  margin-right: 0.2rem;
}

.comment-wrapper .content-wrapper .action-bar .vote {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 4rem;
}

.comment-wrapper .content-wrapper .action-bar .vote img {
  cursor: pointer;
  height: 20px;
  width: 20px;
  object-fit: contain;
}

.comment-wrapper .content-wrapper .action-bar .vote > .count {
  font-size: 0.875rem !important;
}

.comment-wrapper .content-wrapper .action-bar .reply {
  cursor: pointer;

  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.comment-wrapper .content-wrapper .action-bar .reply > img {
  cursor: pointer;
  height: 20px;
  width: 20px;
  object-fit: contain;

  margin-right: 0.2rem;
}

/* Style the RT-format here */
.render {
  margin-top: 0.5rem;
}

.render pre,
.ql-snow .ql-editor pre.ql-syntax {
  font-family: Consolas, Menlo, "courier new", monospace;
  background-color: #07553f;
  padding: 6px 10px;
  border-radius: 4px;
  color: #00e5a6;
  margin: 0.5rem 0;
}

.ql-snow a,
.render a {
  color: #2c974b;
  text-decoration: underline;
  font-weight: 600;
}
