@media only screen and (max-width: 30em) {
  .reply-box {
    background-color: white !important;
    padding: 1rem;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 10000;
    width: 100vw;
    /* border: 1px solid rgb(241 242 246 / 1); */
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    box-shadow: 2px 3px 39px rgba(108, 117, 125, 0.1),
      8px 8px 61px rgba(5, 184, 81, 0.12);
  }

  .reply-box .content-wrapper {
    padding: 0;
    margin: 0;
    border: none;
  }

  .reply-box .content-wrapper .profile-img {
    display: none;
    border: none;
  }

  .reply-box .content-wrapper .offset {
    margin: 0;
  }
}

.add-comment {
  box-sizing: border-box;
  padding: 0.8rem;
}

.add-comment .profile-img {
  min-height: auto;
  min-width: 40px;
  margin-right: 0.5rem;
}

.add-comment .profile-img > img {
  top: 0.5rem;
  left: -1.3rem;

  height: 40px;
  width: 40px;
  object-fit: cover;

  border-radius: 100px;
  border: 1px solid #cfd9de;
}

.add-comment .RTE-wrapper {
  box-sizing: border-box;
  /* background-color: blue; */
  width: 100%;
  flex-grow: 1;
}

.RTE {
  /* background-color: red; */
}

.RTE .quill {
  border: 1px solid rgb(241 242 246 / 1);
  border-radius: 8px;
}

.RTE .quill > * {
  border: none;
}

.RTE .quill .ql-editor {
  overflow-x: hidden;
  margin-top: 0.5rem;
}

.RTE .quill .ql-toolbar {
  overflow-x: hidden !important;
}

.RTE .quill .ql-toolbar .ql-formats {
  border-right: 1px solid #cfd9de;
  padding-right: 0.5rem;
}

.RTE .quill .ql-toolbar .ql-formats > * {
  margin-right: 0.25rem;
}

.ql-snow .ql-stroke,
.ql-snow.ql-toolbar button:hover:not(.ql-active),
.ql-snow .ql-toolbar button:hover:not(.ql-active) {
  fill: none;
  stroke: #6c757d !important;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1.4;
}

.ql-toolbar .ql-active {
  background-color: #6c757d !important;
  color: white !important;
  border-radius: 4px;
}

.ql-toolbar .ql-active svg .ql-fill {
  fill: white !important;
}

.ql-toolbar .ql-active svg .ql-stroke {
  stroke: white !important;
}
