.side-header {
  display: block;
  padding: 20px;

  & > div:first-of-type {
    justify-content: space-between;
    align-items: center;

    h3 {
      margin-bottom: 0;
    }
  }

  p {
    margin-bottom: 0 !important;
  }
}

.side-container,
.side-links {
  z-index: 1000;
}

.icon-container {
  padding: 0;
}

.name {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: #343a40;
  margin-bottom: 2px;
}

.username {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.02em;

  color: #536471;
  margin-bottom: 0;
}

.side-account-info {
  font-weight: 600;
  font-size: 18px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #343a40;
}

.mobile-sidenav .side-close {
  margin: 0;
}

.ques-solu {
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -0.02em;
  color: #343a40;

  span {
    font-weight: normal;
    color: #343a40;
  }
}

.side .mobile-link {
  font-size: 16px;
}

.version {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.02em;
  color: #a2abb3;
}

.side-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  // background: #000;
  z-index: -1000;
}

.side-links {
  width: 100%;
  height: 100%;
}

@media (max-width: 576px) {
  .icon {
    width: 16px;
    height: 16px;
    margin-right: 1px;
  }
}
