.qfeedNav-container {
  position: fixed;
  bottom: 0;
  z-index: 1000;
}

.btn--add {
  width: 44px;
  height: 44px;
  outline: 8px solid #fff;
  display: block !important;
  box-shadow: 0px 0px 30px rgba(5, 184, 80, 0.397);
  margin-left: auto;
  margin-right: 30px;
  margin-bottom: 20px;
  right: 5px;
  bottom: 80px;

  svg {
    margin-left: -3px;
  }

  &:focus {
    outline: 8px solid #fff !important;
    box-shadow: 0px 5px 20px rgba(5, 184, 80, 0.397) !important;
  }
}

.qfeedNav-links {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  background: #fff;
  padding: 1rem;
  border-top: 1px solid var(--outline);
}

.nav__border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 5px;
  background: #000;
  transition: transform 200ms;
  will-change: transform;
}

.nav__underline--container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 50px);
  gap: 20px;
  width: 100vw;
}

.nav__button {
  svg,
  path {
    fill: #6c757d;
  }
}

.nav__active {
  svg,
  path {
    fill: #3f3f41;
  }
}

.block {
  display: block;
}

.hidden {
  display: none;
}

@media (min-width: 577px) {
  .qfeedNav-container {
    display: none !important;
  }

  .btn--add {
    display: none !important;
  }
}
