.question-component {
    /* border-top: 1px theme('colors.outline') solid; */
    border-bottom: 1px theme('colors.outline') solid;
}

.comment {
    border-top: 1px theme('colors.outline') solid;
}

.qfeed-wrapper {
    border-right: 1px theme('colors.outline') solid;
    border-left: 1px theme('colors.outline') solid;

}

.icon-brand > img, .icon-brand > svg {
    filter: brightness(0) saturate(100%) invert(57%) sepia(86%) saturate(3930%)
      hue-rotate(115deg) brightness(98%) contrast(96%);
}


.icon-brand-hover:hover > img, .icon-brand-hover:hover > svg {
    
    filter: brightness(0) saturate(100%) invert(57%) sepia(86%) saturate(3930%)
      hue-rotate(115deg) brightness(98%) contrast(96%);
}