.ad-hero-wrapper,
.discussion-ad-wrapper {
  margin-bottom: 0.5rem;
}

.ad-hero-wrapper > a > img {
  width: 100%;
}

.discussion-ad-wrapper > a > img {
  width: 100%;
}

@media only screen and (max-width: 576px) {
  .discussion-ad-wrapper > a > img {
    width: 100%;
    height: 3.4rem;
    object-fit: cover;
  }
}
