* {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
}

:root {
  --white: #ffffff;
  --outline: #cfd9de;
  --brand: #05b851;
  --brand-dark: #23933f;
  --secondary: #011945;
  --background: #f8f9fa;
  --secondary-text: #a2abb3;
  --records: #8b3745;
  --text-black: #3f3f41;
  --text2-black: #595959;

  --brand-highlight: #f2fcf3;
  --danger-highlight: #fcf6f2;
}

html {
  scroll-behavior: smooth;
}

.txt {
  color: var(--text2-black);
}

.dont-break {
  word-wrap: initial;
}

/*************************************************** 
QFEED STYLING 
***************************************************/
.qfeed-container {
  padding: 0 !important;
  overflow: hidden;
}

.header {
  padding: 1rem 14px;
  border-bottom: solid 1px var(--outline);
}

/* question component */
.question {
  /* max-width: 620px; */
  background-color: var(--white);
  border-bottom: solid 1px var(--outline);
  font-size: 14px;
  padding: 14px;
  padding-bottom: 7px !important;
}

.question:hover {
  background-color: var(--background);
}

.horinzontal-align {
  display: flex;
  align-items: center;
}

.horinzontal-align > * {
  margin-right: 5px;
  margin-bottom: 0;
  overflow: hidden;
}

.profile-image {
  width: 40px !important;
  height: 40px;
  object-fit: cover;
  border-radius: 20px;
}

.profile-name {
  font-weight: bold;
  transition: 0.3s all ease-in;
}

.question-body {
  display: flex;
  align-items: flex-start;
  margin-top: 14px;
}

.question-body > p {
  margin: 0;
}

.question-content {
  margin-top: 7px;
}

.mr-15 {
  margin-right: 12px;
}

.engagements {
  margin-top: 7px;
}

.like {
  min-width: 40px;
  margin-top: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.empty-bar {
  width: 40px;
}

.like > p {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
  max-width: 20px;
}

.like > img {
  cursor: pointer;
}

.like:hover > .profile-name {
  color: var(--brand-dark);
}

.engagement-bar {
  align-items: center !important;
}

.engagement-bar > div {
  position: relative;
  padding: 0;
}

.e-btn {
  cursor: pointer;
  width: 4rem !important;
}

.icon-container {
  padding: 7px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;

  transition: 0.3s all ease-in;
}

.engagement-count {
  /* color: var(--text-black); */
  transition: 0.3s all ease-in;
}

.e-btn:hover > .icon-container {
  background-color: #def1eb;
}

.e-icon {
  /* transition: 0.3s all ease-in; */
}

.e-icon:hover {
  filter: brightness(0) saturate(100%) invert(57%) sepia(86%) saturate(3930%)
    hue-rotate(115deg) brightness(98%) contrast(96%);
}

.e-btn:hover .e-icon {
  filter: brightness(0) saturate(100%) invert(57%) sepia(86%) saturate(3930%)
    hue-rotate(115deg) brightness(98%) contrast(96%);
}

.e-btn:hover > .engagement-count {
  color: var(--brand-dark);
}

.engagement-bar p {
  margin-bottom: 0;
}

.view-answers {
  /* font-weight: bold; */
  margin: 0;
  color: var(--brand);
  margin-bottom: 7px;
  cursor: pointer;
}

.view-answers:hover {
  color: var(--brand-dark);
}

/*************************************************** 
SIDENAV STYLING 
***************************************************/
.sidenav-container {
  /* max-width: 375px; */
}

/*************************************************** 
TRENDING STYLING 
***************************************************/
.trends-container {
  /* max-width: 375px; */
}

@media only screen and (max-width: 376px) {
  .dont-break {
    min-width: 180px;
    overflow: none;
    margin: 0;
  }
}
