* {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

:root {
  --white: #ffffff;
  --outline: #cfd9de;
  --brand: #05b851;
  --brand-dark: #23933f;
  --secondary: #011945;
  --background: #f8f9fa;
  --secondary-text: #a2abb3;
  --records: #8b3745;
  --text-black: #212529;
  --text2-black: #536471;

  --brand-highlight: #f2fcf3;
  --danger-highlight: #fcf6f2;
}

html {
  scroll-behavior: smooth;
}

.txt {
  color: var(--text2-black);
}

.dont-break {
  word-wrap: initial;
}

.badge-brand {
  background-color: var(--brand-highlight);
  border: .5px solid #A4D9A4 ;
  color: var(--text2-black);
}

/* .badge-info {
  background-color: #EBEEFC !important;
  border: .5px solid #8ba4ffb7 ;
  color: var(--text2-black) !important;
} */


.borders {
  border-top: solid 0.5px var(--outline);
  border-bottom: solid 0.5px var(--outline);
}
/*************************************************** 
QFEED STYLING 
***************************************************/
.qfeed-container {
  padding: 0 !important;
  overflow: hidden;
  /* border-left: solid 0.5px var(--outline); */
  /* border-right: solid 0.5px var(--outline); */
}

.header {
  padding: 1rem 14px;
  border-bottom: solid 0.5px var(--outline);
  display: flex;
  justify-content: flex-start;
}

.header-questionpage {
  z-index: 1000000000;
  padding: 1rem 14px;
  border-bottom: solid 0.5px var(--outline);
  background-color: var(--white);
  display: flex;
  justify-content: flex-start !important;
  position: absolute;
  width: 100%;
}

/* question component */
.question {
  /* max-width: 620px; */
  background-color: var(--white);
  border-bottom: solid 0.5px var(--outline);
  font-size: 15px;
  padding: 14px;
  padding-bottom: 7px !important;
}
.question-page {
  /* max-width: 620px; */
  background-color: var(--white);
  border-bottom: solid 0.5px var(--outline);
  font-size: 15px;
  padding: 14px;
  padding-bottom: 7px !important;

  margin-top: 4rem;
}

.answer-page {
  /* max-width: 620px; */
  background-color: var(--white);
  border-bottom: solid 0.5px var(--outline);
  font-size: 15px;
  padding: 14px;
  padding-bottom: 7px !important;
}

.hl {
  background-color: var(--brand-highlight);
  border-bottom: .5px solid var(--brand)
}

.col {
  padding-left: 0px !important;
}

.question:hover {
  background-color: var(--background);
}

.horinzontal-align {
  display: flex;
  align-items: center;
}

.horinzontal-align > * {
  margin-right: 5px;
  margin-bottom: 0;
  overflow: hidden;
}

.profile-image {
  width: 40px !important;
  height: 40px;
  object-fit: cover;
  border-radius: 20px;
  background-color: var(--outline);
}

.profile-name {
  font-weight: bold;
  transition: 0.3s all ease-in;
}

.question-body {
  display: flex;
  align-items: flex-start;
  margin-top: 14px;
}

.question-tag {
  color: var(--brand)
}

.question-body > p {
  margin: 0;
}

.question-content {
  margin-top: 7px;
  color: var(--text-black);
  cursor: pointer;
}

.question-answer {
  margin-top: 7px;
  color: var(--text-black);
}

.question-page-content {
  margin-top: 7px;
  color: var(--text-black);
  font-size: 21px;
}

.mr-15 {
  margin-right: 12px;
}

.engagements {
  margin-top: 0;
}

.like {
  min-width: 40px;
  margin-top: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.empty-bar {
  width: 40px;
}

.like > p {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
  max-width: 20px;
}

.like > img {
  cursor: pointer;
}

.like:hover > .profile-name {
  color: var(--brand-dark);
}

.badge {
  padding: .5rem .8rem !important;
  font-size: 3rem;
}

.engagement-bar {
  align-items: center !important;
  /* background-color: var(--background); */
}

.engagement-container {
  display: flex;
  width: 70%;
  justify-content: space-between;
}

.engagement-bar > div {
  position: relative;
  padding: 0;
}

.e-btn {
  cursor: pointer;
  width: 4rem !important;
}

.icon-container {
  padding: 7px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;

  transition: 0.3s all ease-in;
  cursor: pointer;
}

.icon-container > p {
  color: var(--text2-black);
}

.icon-container:hover > p {
  color: var(--text-black);
  color: var(--brand-dark);
}

.engagement-count {
  transition: 0.3s all ease-in;
}

.e-btn:hover > .icon-container {
  background-color: #def1eb;
}

.icon-container:hover {
  background-color: #def1eb;
}

.icon-container-secondary:hover {
  background-color: var(--background) !important;
}

.e-icon {
  /* transition: 0.3s all ease-in; */
}

.e-icon:hover {
  filter: brightness(0) saturate(100%) invert(57%) sepia(86%) saturate(3930%)
    hue-rotate(115deg) brightness(98%) contrast(96%);
}

.e-btn:hover .e-icon {
  filter: brightness(0) saturate(100%) invert(57%) sepia(86%) saturate(3930%)
    hue-rotate(115deg) brightness(98%) contrast(96%);
}
.icon-container:hover .e-icon {
  filter: brightness(0) saturate(100%) invert(57%) sepia(86%) saturate(3930%)
    hue-rotate(115deg) brightness(98%) contrast(96%);
}
.icon-container:hover svg {
  /* fill: var(--brand) !important; */

  filter: brightness(0) saturate(100%) invert(57%) sepia(86%) saturate(3930%)
    hue-rotate(115deg) brightness(98%) contrast(96%);
}

.e-btn:hover > .engagement-count {
  color: var(--brand-dark);
}

.engagement-bar p {
  margin-bottom: 0;
}

.view-answers {
  /* font-weight: bold; */
  margin: 0;
  color: var(--brand);
  margin-bottom: 7px;
  cursor: pointer;
}

.view-answers:hover {
  color: var(--brand-dark);
}

/* the post btn */

/* .screen {
  height: 100vh;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
} */

.post-btn {
  /* z-index: 1000000000; */
  /* background-color: black; */
  /* opacity: 0.5; */
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  overflow: hidden;
}

.tt {
  position: relative;
  left: -14px;
}

/*************************************************** 
SIDENAV STYLING 
***************************************************/
.sidenav-container {
  display: block;
  border-right: solid 0.5px var(--outline) !important;

  /* border-left: solid 0.5px var(--outline); */
  min-height: 100vh;
  width: 65px;
  transition: all 0.5s ease;
  z-index: 100;
  background-color: var(--white);
}

.retry-container {
  width: 100%;

  display: block;
  text-align: center;
}

.retry-container > p {
  font-size: 16px;
  color: var(--text2-black);
}

.sidenav-container.active {
  width: 200px !important;
}

.link-box {
  padding: 5px;
}

.sidenav-container .navlink {
  font-size: 20px;
  padding: 7px;
  display: block;
  border-radius: 8px;
  margin-bottom: 10px;
  width: initial;

  display: flex;
  align-items: flex-end;
  justify-items: center;
  color: #343a40;
}

.sidenav-container .navlink p {
  display: none;
}

.sidenav-container.active .navlink p {
  display: block;
}

.dropdown-link {
  color: #343a40 !important;
  font-size: 18px;
  padding: 10px !important;
  display: block;
  margin-bottom: 0;
  width: initial;
}

.dropdown-link:hover {
  color: black;
  background-color: var(--background) !important;
}

.sidenav-container .btn {
  align-items: center;
  background-color: var(--white);
  border: none;
}

.sidenav-container .btn:hover {
  background-color: var(--background);
  color: #343a40;
}
.sidenav-container .btn-success:focus {
  background-color: var(--background);
  color: #343a40;
}
.btn-green:hover {
  background-color: var(--brand);
  opacity: 1;
}

.sidenav-container .active-nav {
  color: black !important;
  font-weight: 600;
}

.sidenav-container p {
  margin-bottom: 0;
}

.sidenav-container .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidenav-container .icon svg {
  margin: 0;
  align-self: center;
  fill: #6c757d;
}

.active-icon svg {
  fill: #000 !important;
  /* filter: brightness(0) saturate(100%) invert(57%) sepia(86%) saturate(3930%)
    hue-rotate(115deg) brightness(98%) contrast(96%); */
}

.navlink:hover {
  background-color: var(--background);
}

.dropdown-link p {
  color: black !important;
}

.btn-green p {
  color: var(--white) !important;
}

.btn-green {
  background-color: var(--brand) !important;
  opacity: 0.9;
  color: var(--white) !important;
}

.nav-tooltip {
  position: absolute !important;
  left: 68px;

  color: var(--text-black);
  padding: 7px 20px;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

  transform: translateY(-20px);

  transition: 0s;
  opacity: 0;
  pointer-events: none;
}
.nav-tooltip-brand {
  color: var(--white);
  background-color: var(--brand);
}

.navlink:hover .nav-tooltip {
  transition: all 0.5s ease;
  display: block !important;

  opacity: 1;
  transform: translateY(0);
}

.active .navlink:hover .nav-tooltip {
  display: none !important;
}

/* .active .dropdown-svg {
  display: block;
} */

.navlink svg {
  margin: 5px;
}

.navlink div {
  margin: 5px;
}

.active .navlink svg {
  margin: 0;
}

.active .navlink div {
  margin: 0;
}

.menu-nav {
  justify-content: space-between;
}

.menu-nav .navlink-brand {
  display: none;
}

.menu-nav .icon-container {
  padding: 10px;
  margin: 0;
}

.active .menu-nav .navlink-brand {
  display: block;
}

.mobile-sidenav {
  display: none;
}

.bottom-nav {
  display: none;
}

@media only screen and (max-width: 768px) {
  .navlink-brand {
    /* display: none; */
  }

  .link-box {
    display: none !important;
  }
}

@media only screen and (max-width: 576px) {
  .header {
    justify-content: center;
  }

  .sidenav-container {
    display: none;
  }

  .link-box {
    position: initial;
    left: 0.75rem;
    /* background-color: red; */
  }

  .link-box .btn-green {
    position: fixed;
    bottom: 5rem;
    right: 1rem;
    z-index: 1000000;
  }

  .mobile-sidenav {
    display: block;
    background-color: var(--danger);
  }

  .mobile-sidenav .hanger-menu {
    position: absolute;
    top: 14px;
    left: 14px;
    z-index: 100;
  }

  .side {
    background: transparent;
    position: fixed;
    left: -100%;
    transition: 0.3s all ease-in;
    height: 100%;
    z-index: 100000000000;
    /* opacity: 0; */
  }

  .side-container {
    background-color: var(--white) !important;
    position: fixed;
    transition: 0.3s all ease-in;
    height: 100%;
    z-index: 100000000000;
    border-right: 0.5px solid var(--outline);
    min-width: 70%;
  }

  .side-active {
    display: block;
    left: 0;
    min-width: 100%;
    opacity: 1;
  }

  .side-header {
    /* height: 60px; */
    display: flex;
    justify-content: space-between;
  }

  .mobile-sidenav .side-close {
    /* float: right; */
    margin: 15px;
  }

  .side .mobile-link {
    font-size: 20px;
    color: var(--text-black) !important;
    padding: 10px 20px;
    /* margin-bottom: 1rem; */
  }
  .side .mobile-link p {
    color: var(--text-black) !important;
    margin-left: 1rem !important;
  }

  .bottom-nav {
    position: fixed;
    width: 100%;
    background: var(--white);
    border-top: 0.5px solid var(--outline);
    z-index: 100;
    bottom: 0;

    display: flex;
    justify-content: space-around;
  }
  .bottom-nav p {
    display: none;
  }
  .bottom-nav .navlink {
    fill: #6c757d;
  }
  .bottom-nav .nav-tooltip {
    display: none;
  }
  .navlink:hover .nav-tooltip {
    display: none !important;
  }
}

/*************************************************** 
TRENDING STYLING 
***************************************************/
.trends-container {
  /* max-width: 375px; */
}

@media only screen and (max-width: 768px) {
  .trends-container {
    display: none;
  }
}
@media only screen and (max-width: 376px) {
  .dont-break {
    min-width: 180px;
    overflow: none;
    margin: 0;
  }
}

/*************************************************** 
LOADER STYLING
***************************************************/
/* .loader-container {
  margin: auto;
  background-color: red !important;
} */

/*************************************************** 
POST
***************************************************/
.post-page {
  border-right: 0.5px solid var(--outline);
}

.post-form {
  padding: 10px !important;
  border-bottom: 0.5px solid var(--outline);
  width: 100%;
  margin-bottom: 0 !important;
}

.post-btn-area {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

textarea {
  resize: none !important;
}

.link {
  color: var(--text-black);
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: #888; */
  background: var(--outline) !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-text) !important;
}

/*************************************************** 
TAGS
***************************************************/

.tags-input {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  min-height: 45px;
  width: 100%;
  padding: 0 10px;
  border: 0.5px solid var(--outline);
  border-radius: 6px;
}

.tags-input:focus-within {
  border: 0.5px solid var(--secondary-text);
}

.tags-input input {
  flex: 1;
  border: none;
  height: 46px;
  font-size: 15px !important;
  padding: 4px 0 0 0;
}

input:focus {
  outline: transparent;
}

#tags {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 8px 0 0 0;
}

.tag {
  width: auto;
  height: 28px;
  padding: 4px;
  font-size: 14px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-black);
  padding: 0 8px;
  font-size: 14px;
  list-style: none;
  border-radius: 6px;
  margin: 0 8px 8px 0;
  background: var(--brand-highlight);
  border: .5px solid var(--brand);
}

.tag .tag-title {
  /* margin-top: 3px; */
}

.tag .tag-close-icon {
  display: block;
  line-height: 16px;
  height: 18px;
  width: 18px;
  text-align: center;
  font-size: 16px;
  margin-left: 5px;
  /* color: var(--white); */
  /* color: var(--brand); */
  border-radius: 1rem;
  /* background: #fff; */
  cursor: pointer;
}

@media screen and (max-width: 567px) {
  .tags-input {
    width: calc(100vw - 32px);
  }
}

/*************************************************** 
LOGIN
***************************************************/
.login-page {
  position: fixed;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  z-index: 1000;

  padding: 1rem;
  background-color: var(--white) !important;
}

.form-container {
  margin-top: 6rem;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;

  border-radius: 6px;
  border: .5px solid var(--outline);
  background-color: var(--white) !important;
  width: 100%;
  max-width: 425px;
  text-align: center;

  box-shadow: 6px 6px 0px #f7f9f8;
}

.form-container > .logo-container {
  text-align: center;
  margin: auto !important;
  position: relative;
  bottom: 3.5rem;
}

.form-control {
  border-radius: 0px !important;
  border: none !important;
  border-bottom: 1.5px solid var(--secondary-text) !important;
  min-height: 50px !important;
}

.form-title {
  position: relative;
  top: -0.8rem;
  margin: 0;
}

.form-control:focus {
  /* background-color: var(--brand-highlight) !important; */
  background-color: var(--background) !important;
  border-color: var(--text-black) !important;
  box-shadow: none !important;
}

.form-control:active {
  /* background-color: var(--brand-highlight) !important; */
  border-color: var(--text-black) !important;
  box-shadow: none !important;
}

.btn-login {
  width: 100%;
  padding: 10px !important;
}

.label-group > * {
  padding: 0 !important;
  margin-bottom: 0 !important;
}

.label-group > :first-child {
  margin-right: 1rem !important;
}

.alert {
  font-size: 13px !important;
  padding: 5px !important;
  opacity: .7;
}

.alert-danger {
  font-size: 12px !important;

}



@media screen and (max-width: 567px) {
  .login-page {
    position: fixed;
    height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    z-index: 1000;

    background-color: var(--white) !important;
 
  }

  .form-container {
    margin-top: 5rem !important;
  
    border-radius: 0;
    border: none;
    border-top: 0.5px solid var(--outline);
    background-color: var(--white) !important;
    width: 100%;
    text-align: center;
  
    box-shadow: none !important;
  }
}